<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/printer/{id}(id=${device.getId()})}" th:object="${device}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model">
    <br/>

    <label for="problem">Enter problem: </label>
    <input type="text" th:field="*{problem}" id="problem">
    <br/>

    <input type="submit" value="Update!">
</form>
<h4><a href="/printer"><-- Back</a> </h4>


</body>
</html>