<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New printer</title>
</head>
<body>

<form th:method="POST" th:action="@{/printer}" th:object="${device}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model">
    <br/>

    <label for="problem">Enter problem: </label>
    <input type="text" th:field="*{problem}" id="problem">
    <br/>


    <input type="submit" value="Create!">
</form>
<h4><a href="/printer"><-- Back</a> </h4>

</body>
</html>